*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 16px;
}
img{
	max-width: 100%;
}
.bar{
	display: flex;
	background:#2E323F;
	padding: 1rem;
}
nav{
	display: flex;
	justify-content: flex-end;
	margin: auto 0;
}
.header li{
	display: inline;
	color: white;
}
.header{
	background: #3B4050;
	padding: 10vh 0;
}
.header_content{
	width: 90%;
	margin: auto;
}
.header h1{
	font-size: 3rem;
	color: white;
}
span{
	font-size: 3rem;
	color: #A59678;
}
.header p{
	font-size: 1.3rem;
	color: white;
	margin-top: 1rem;
	margin-bottom: 2rem;
}
.header a{
	font-size: 1.3rem;
	text-decoration: none;
	color: white;
	font-weight: bold;
	padding: 0.7rem 1rem 0.5rem 1rem;
	background: #A59678;
	border-radius: 100px;
}
.row_1{
	background:#F0F0F0;
	padding: 1.5rem 0;
}
.col{
	width: 60%;
	text-align: center;
	padding: 1rem 0;
	margin: 0 auto;
}
.col h2{
	font-size: 1.6rem;
	color: #A59678;
}
.row_2{
	padding: 3rem 0;
}
.content_col{
	width: 80%;
	margin: 0 auto;
}
.content_col p{
	margin: 0.5rem 0;
}
.row_2_main_title{
	color: #A59678;
	font-size: 2rem;
	margin-bottom: 1.5rem;
}
.blocks_col h2{
	color: white;
	margin-bottom: 1rem;
}
.blocks_col .col{
	width: 80%;
	padding: 2rem 3rem;
	background: #3B4050;
	color: white;
	margin: 1rem auto;
}
.footer{
	background: #3B4050;
	color: #6F737F;
	padding: 3rem 10%; 
}
.footer h1{
	color: white;
	font-size: 3rem;
	text-align: center;
	margin-bottom: 2rem;
}
h3{
	color: #A59678;
	font-size: 1.17rem;
	margin-bottom: 0.5rem;
}
.footer .items_col{
	margin: 1rem 0;
}
.items_col li{
	font-size: 0.9rem;
	margin: 0.5rem 0;
	list-style: none;
}
